


#root {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:'Ringbearer Medium';
  font-size: 2em;
  line-height: 1.5em;
  background: linear-gradient(0deg, rgba(142,184,61,1) 0%, rgba(150,182,134,1) 42%, rgba(198,236,255,1) 49%, rgba(130,213,255,1) 74%, rgba(62,186,249,1) 94%);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeIn-5 {
  animation: fadeIn 5s;
}
.fadeIn-10 {
  animation: fadeIn 10s;
}
.fadeIn-15 {
  animation: fadeIn 15s;
}

#start {
  z-index: 100;
}
#hobbitHouse {
  height: 40%;
  z-index: 10;
  position: absolute;
  left: 10%;
  bottom: 0;
}
#potatoPlant {
  position: absolute;
  bottom: 5%;
  left: 10%;
  height: 300px;
  z-index: 1;
}
#potatoPlant2 {
  position: absolute;
  bottom: 5%;
  right: 10%;
  height: 300px;
  z-index: 1;
}
#potatoPlant3 {
  position: absolute;
  bottom: 5%;
  right: 10%;
  height: 250px;
  z-index: 111;
}
#potatoPlant4 {
  position: absolute;
  bottom: 5%;
  left: 25%;
  height: 200px;
  z-index: 11;
}
.progressBar {
  width: 20%;
}
.progressBar h3 {
  font-size: .75em;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.barContainer {
  border: 1px solid #213547;
  height: 20px;
}
.barContainer div {
  height: 100%;
}
.destinyProgress {
  background-color: #F9E99B;
}
.potatoProgress {
  background-color: #C6A62D;
}
.orcProgress {
  background-color: #B0151B;
}

._space3d .defaultFace, ._space3d .defaultFace span {
  box-shadow: none !important;
  background-color: #783C20 !important;
}

._space3d .defaultFace {
  background-color: #D7D6C4 !important;
  border: 1px solid #97998E;
}

._space3d .defaultFace span {
  height: 70% !important;
  width: 70% !important;
}